<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                  <div style="text-align: center">
                    <img src="../../../assets/img/logo.png">
                  </div>
                  <p style="text-align: center" class="text-muted">Inicio de Sesión</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" [(ngModel)]="username" class="form-control" placeholder="Usuario" autocomplete="username" >
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" [(ngModel)]="password" class="form-control" placeholder="Clave" autocomplete="current-password" >
                  </div>
                  <div class="row" style="text-align: center">
                    <div class="col-12">
                      <button type="button" class="btn btn-primary px-4" (click)="login()"><i class="fa fa-sign-in"></i>    Entrar</button>
                    </div>
<!--                    <div class="col-6 text-right">-->
<!--                      <button type="button" class="btn btn-link px-0">Forgot password?</button>-->
<!--                    </div>-->
                  </div>
              </div>
            </div>
<!--            <div class="card d-md-down-none" style="width:64%">-->
<!--              <img src="../../../assets/img/img_login.jpg">-->
<!--&lt;!&ndash;              <div class="card-body text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <h2>Sign up</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
