<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: '../../../assets/img/logo.png', width: 100, height: 35, alt: 'Aeroman'}"
  [navbarBrandMinimized]="{src: '../../../assets/img/icon.png', width: 30, height: 30, alt: 'Aeroman'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <!--  <ul class="nav navbar-nav d-md-down-none">-->
  <!--    <li class="nav-item px-3">-->
  <!--      <a class="nav-link" href="#">Dashboard</a>-->
  <!--    </li>-->
  <!--    <li class="nav-item px-3">-->
  <!--      <a class="nav-link" href="#">Users</a>-->
  <!--    </li>-->
  <!--    <li class="nav-item px-3">-->
  <!--      <a class="nav-link" href="#">Settings</a>-->
  <!--    </li>-->
  <!--  </ul>-->
  <ul class="nav navbar-nav ml-auto">
    <!--    <li class="nav-item d-md-down-none">-->
    <!--      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>-->
    <!--    </li>-->
    <!--    <li class="nav-item d-md-down-none">-->
    <!--      <a class="nav-link" href="#"><i class="icon-list"></i></a>-->
    <!--    </li>-->
    <!--    <li class="nav-item d-md-down-none">-->
    <!--      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>-->
    <!--    </li>-->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatar.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Cuenta</strong></div>
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>-->
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>-->
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>-->
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>-->
        <!--        <div class="dropdown-header text-center"><strong>Settings</strong></div>-->
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>-->
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>-->
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>-->
        <!--        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>-->
        <!--        <div class="divider"></div>-->
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Cerrar Sesión</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <!--      <li class="breadcrumb-menu d-md-down-none">-->
      <!--        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
      <!--          <a class="btn" href="#"><i class="icon-speech"></i></a>-->
      <!--          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
      <!--          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
      <!--        </div>-->
      <!--      </li>-->
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
    <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
    <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
    <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
    <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">

  </app-aside>
</div>
<app-footer>
  <span>Aeroman &copy; 2019</span>
  <span class="ml-auto">Powered by ORASOF</span>
</app-footer>
