<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex bd-highlight mb-3">
      <div class="mr-auto bd-highlight" style="color: white">
        <i class="fa fa-th" style="color: white"></i>  {{TITLE}}
      </div>
      <button type="button" class="btn btn-primary" (click)="openModal(1, modal, '')"><span class="fa fa-plus"></span>
        Agregar
      </button>
    </div>
    <div class="card-body mt-4 p-0">

      <div class="row justify-content-center mb-4">
        <div class="col-10 col-lg-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
            <input [(ngModel)]="valueSearch" type="text" class="form-control" placeholder="Ingrese texto"
                   aria-label="Ingrese texto">
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <div class="btn-group ml-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="searchCriterial()">Buscar</button>
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <div class="btn-group ml-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="getListaCriticals()">Mostrar todos</button>
          </div>
        </div>
      </div>

      <div class="mr-auto p-2 bd-highlight">
        <label class="control">Registros a mostrar:
          <input style="width: 15%" type="number" class="input" min="1"
                 [(ngModel)]="configPage.itemsPerPage">
        </label>
      </div>
      <div style="overflow-x: auto;">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th>Aircraft</th>
            <th>Work Order</th>
            <th>Critical Path</th>
            <th>Tat Impact</th>
            <th>Mitigation Plan</th>
            <th>Responsible</th>
            <th>Status</th>
            <th>StatusFinal</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let crit of this.criticalList | paginate: configPage">
            <th scope="row">{{ crit.aircraft }}</th>
            <th scope="row">{{ crit.workOrder }}</th>
            <th scope="row">{{ crit.criticalPath }}</th>
            <th scope="row">{{ crit.tatImpact }}</th>
            <th scope="row">{{ crit.mitigationPlan }}</th>
            <th scope="row">{{ crit.responsible }}</th>
            <th scope="row" *ngIf="crit.status === 'L'">Late</th>
            <th scope="row" *ngIf="crit.status === 'M'">Mitigated</th>
            <th scope="row" *ngIf="crit.status === 'O'">OnTime</th>
            <th scope="row" *ngIf="crit.status === 'A'">At Risk</th>
            <th scope="row" *ngIf="crit.statusFinal === 'L'">Late</th>
            <th scope="row" *ngIf="crit.statusFinal === 'M'">Mitigated</th>
            <th scope="row" *ngIf="crit.statusFinal === 'O'">OnTime</th>
            <th scope="row" *ngIf="crit.statusFinal === 'A'">At Risk</th>
            <td class="text-center">
              <i class="fa fa-pencil-square-o fa-2x text-info" title="Editar" (click)="openModal(2, modal, crit)"></i>
              <i class="fa fa-times fa-2x text-danger" title="Eliminar" (click)="confirmar(crit.id, deleteModal)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls
                           (pageChange)="onPageChange($event)"
                           [id]="configPage.id"
                           [previousLabel]="'Anterior'"
                           [nextLabel]="'Siguiente'"

      ></pagination-controls>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ this.titleModal }}</h5>
    </div>
    <form [formGroup]="criticalForm" (ngSubmit)="executeAction()">
      <div class="modal-body">
        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Aircraft:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="aircraft" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Work Order:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="workOrder" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Critical Path:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="criticalPath" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">tatImpact:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="tatImpact" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Mitigation Plan:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="mitigationPlan" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Responsible:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="responsible" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Status:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <select formControlName="status" class="form-control">
                    <option value="L">Late</option>
                    <option value="M">Mitigated</option>
                    <option value="O">OnTime</option>
                    <option value="A">At Risk</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">StatusFinal:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <select formControlName="statusFinal" class="form-control">
                    <option value="L">Late</option>
                    <option value="M">Mitigated</option>
                    <option value="O">OnTime</option>
                    <option value="A">At Risk</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button *ngIf="typeAction === 1" type="submit" class="btn btn-sm btn-primary rounded">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Agregar
        </button>
        <button *ngIf="typeAction === 2" type="submit" class="btn btn-sm btn-primary rounded">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Actualizar
        </button>
        <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
          <i class="fa fa-close" aria-hidden="true"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Confirmar</h5>
    </div>

    <div class="modal-body">
      <h4 class="text-center">Esta seguro de eliminar el registro?</h4>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary rounded" (click)="eliminar()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Aceptar
      </button>
      <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
        <i class="fa fa-close" aria-hidden="true"></i> Cancelar
      </button>
    </div>
  </div>
</ng-template>
