<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex bd-highlight mb-3">
      <div class="mr-auto bd-highlight" style="color: white">
        <i class="fa fa-th text-primary" style="color: white"></i>  {{TITLE}}
      </div>
      <button type="button" class="btn btn-primary" (click)="openModal(1, modal, '')"><span class="fa fa-plus"></span>
        Agregar
      </button>
    </div>
    <div class="card-body mt-4 p-0">

      <div class="row justify-content-center mb-4">
        <div class="col-10 col-lg-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
            <input [(ngModel)]="valueSearch" type="text" class="form-control" placeholder="Ingrese texto"
                   aria-label="Ingrese texto">
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <div class="btn-group ml-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="searchUser()">Buscar</button>
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <div class="btn-group ml-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="getListaUsers()">Mostrar todos</button>
          </div>
        </div>
      </div>

      <div class="mr-auto p-2 bd-highlight">
        <label class="control">Registros a mostrar:
          <input style="width: 15%" type="number" class="input" min="1"
                 [(ngModel)]="configPage.itemsPerPage">
        </label>
      </div>
      <div style="overflow-x: auto;">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Estado</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of this.listUser | paginate: configPage">
            <th scope="row">{{ user.username }}</th>
            <th scope="row" *ngIf="user.status === 'A'">Activo</th>
            <th scope="row" *ngIf="user.status === 'I'">Inactivo</th>
            <td class="text-center">
              <i class="fa fa-pencil-square-o fa-2x text-info" title="Editar" (click)="openModal(2, modal, user)"></i>
              <i class="fa fa-times fa-2x text-danger" title="Eliminar" (click)="confirmar(user.id, deleteModal)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls
        (pageChange)="onPageChange($event)"
        [id]="configPage.id"
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'"

      ></pagination-controls>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ this.titleModal }}</h5>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="executeAction()">
      <div class="modal-body">
        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Usuario:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="username" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Clave:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <input formControlName="password" type="password" class="form-control">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Estado:</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                  </div>
                  <select formControlName="status" class="form-control">
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button *ngIf="typeAction === 1" type="submit" class="btn btn-sm btn-primary rounded">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Agregar
        </button>
        <button *ngIf="typeAction === 2" type="submit" class="btn btn-sm btn-primary rounded">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Actualizar
        </button>
        <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
          <i class="fa fa-close" aria-hidden="true"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Confirmar</h5>
    </div>

    <div class="modal-body">
      <h4 class="text-center">Esta seguro de eliminar el registro?</h4>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary rounded" (click)="eliminar()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Aceptar
      </button>
      <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
        <i class="fa fa-close" aria-hidden="true"></i> Cancelar
      </button>
    </div>
  </div>
</ng-template>
